@use "../abstracts" as *;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 100px;
    padding-block: 10px 100px;
  }
}

.container {
  width: 100%;
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: $container-padding;

  @include mobile {
    padding-inline: $container-padding-mobile;
  }
}
