@use "../abstracts" as *;

.title {
  font-size: clamp(32px, 7.8vw, 60px);
  font-weight: 600;
  line-height: 1.25;
  // text-wrap: pretty;

  &--hero {
    font-size: 72px;
    line-height: 1.05;

    @include tablet {
      font-size: clamp(42px, 11vw, 72px);
    }

    @include mobile {
      line-height: 1.15;
    }
  }

  &--light {
    color: var(--panel-ink);
  }

  &--center {
    text-align: center;
  }

  &__accent {
    font-style: italic;
    color: var(--accent);
  }
}
