:root {
  --header-height: 90px;

  --bg: #e1d4c9;
  --ink: #403f3d;
  --ink-inverse: #e1d4c9;
  --line: #c1b6ad;
  --panel-ink: #e1d4c9;
  --accent: #b0907a;
  --slider-line: #665f55;
  --panel: #665f55;
  --pill-active-bg: #665f55;

  color-scheme: light;
}

[data-theme="dark"] {
  --bg: #292826;
  --ink: #e1d4c9;
  --ink-inverse: #403f3d;
  --line: #665f55;
  --slider-line: #c1b6ad;
  --panel: #403f3d;
  --pill-active-bg: #403f3d;

  color-scheme: dark;
}
